<footer>

  <div class="container box">
    <div class="row">

      <hr />

    </div>
  </div>

  <div class="container2">

    <div class="divinline" id="myfooter">
      <p>
      <div>
        <img src="../img/link/youtube.png" alt="YouTube"></img>
      </div>

      <div>
        <a class="link-offset-2 link-underline link-underline-opacity-0" href="https://www.youtube.com/@HoldCrowdGame"
          target="_blank" rel="nofollow">YouTube
        </a>
      </div>

      </p>
    </div>

    <div class="divinline" id="myfooter">
      <p>
      <div>
        <img src="../img/link/google.png" alt="Google"></img>
      </div>

      <div>
        <a class="link-offset-2 link-underline link-underline-opacity-0" href="https://www.google.com" target="_blank"
          rel="nofollow">
          holdcrowdgame@gmail.com
        </a>
      </div>

      </p>
    </div>

    <div class="divinline" id="myfooter">
      <p>
      <div>
        <img src="../img/link/linkedin.png" alt="Linkedin"></img>
      </div>

      <div>
        <a class="link-offset-2 link-underline link-underline-opacity-0"
          href="https://www.linkedin.com/in/hold-crowd-239a09340" target="_blank" rel="nofollow">
          Linkedin
        </a>
      </div>

      </p>
    </div>

  </div>

  <div class="margin-down-myfooter"></div>

</footer>