<br />

<footer>
  <div class="container">
    <div class="row">
      <div class="col q1">youtube</div>
      <div class="col q2">reddit</div>
      <div class="col q1">linkedin</div>
      <div class="col q2">twitter</div>
    </div>
  </div>
</footer>